@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300&subset=latin,cyrillic);

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

#map_canvas {
  width: 100%;
  height: 100%;
}

#switcher {
  position: fixed;
  width: 800px;
  height: 100px;
  left: 50%;
  margin-left: -400px;
  background: rgba(255, 255, 255, 0.8);
  top: 20px;
  padding: 5px 10px;
  line-height: 90px;
  overflow: hidden;
}

#switcher, #edit-form-textfield {
  font: 64px 'Roboto';
  font-weight: 100;
}

.left, .center {
  float: left;
}

.right {
  float: right;
}

.left, .right {
  width: 5%;
  cursor: pointer;
}

.center {
  width: 90%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.university-name {
  width: 100%;
  text-align: center;
}

#edit-form {
  margin-top: 100px;
}

#edit-form-submit {
  display: none;
}

#edit-form-textfield {
  border: none;
  background: none;
}

#edit-form-textfield:focus {
  outline: 0;
}